@use "../../styles/mixins" as mixins;

.item {
	--_card-bg: var(--dark-300);
	--_card-rounded: .75rem;
	--_card-padding-y: 1rem;
	--_card-padding-x: .75rem;

	flex: 1 1;
	background-color: var(--_card-bg);
	border-radius: var(--_card-rounded);
	padding: var(--_card-padding-y) var(--_card-padding-x);

	@include mixins.breakpoint-up(lg) {
		--_card-padding-x: 1.25rem;
	}

	&,
	&Status {
		display: grid;
		grid-template-columns: 1fr;
		align-items: start;
		gap: .75rem;

		@include mixins.breakpoint-up(lg) {
			align-items: initial;
			gap: initial;
		}
	}

	& {

		@include mixins.breakpoint-up(lg) {
			grid-template-columns: minmax(45.25rem, 1fr) minmax(9rem, 10.25rem);
		}
	}

	&Status {
		position: relative;

		@include mixins.breakpoint-up(lg) {
			grid-template-columns: minmax(17.75rem, 27.75rem) minmax(27.5rem, 1fr);
		}

		&Paid {
			pointer-events: none;
			user-select: none;
		}

		&Closer {
			display: grid;
			place-content: center;
			background-color: rgba(var(--dark-300-rgb), .20);
			border-radius: var(--_card-rounded) var(--_card-rounded) 0 0;
			padding: var(--_card-padding-y, 0) var(--_card-padding-x, 0);
			backdrop-filter: blur(.25rem);
			position: absolute;
			inset: calc(var(--_card-padding-y, 0) * -1) calc(var(--_card-padding-x, 0) * -1) 0 calc(var(--_card-padding-x, 0) * -1);
			z-index: 1;

			@include mixins.breakpoint-up(lg) {
				border-radius: var(--_card-rounded) 0 0 var(--_card-rounded);
				inset: calc(var(--_card-padding-y) * -1) 0 calc(var(--_card-padding-y) * -1) calc(var(--_card-padding-x) * -1);
			}
		}

		&Content {
			max-width: 16.25rem;
			font-size: var(--h5);
			font-weight: 700;
			line-height: 1.3;
			text-align: center;

			@include mixins.breakpoint-up(lg) {
				max-width: initial;
			}
		}
	}

	&Match,
	&Bookies {

		@include mixins.breakpoint-up(lg) {
			padding-right: 1.5rem;
		}
	}

	&Bookies,
	&Profit {

		@include mixins.breakpoint-up(lg) {
			border-left: .0625rem solid var(--gray-400);
			padding-left: 1.5rem;
		}
	}

	&Match {
		display: flex;
		flex-wrap: wrap;
		align-self: center;
		gap: .25rem .5rem;

		@include mixins.breakpoint-up(lg) {
			gap: .5rem;
		}
	}

	&Deatils,
	&Title,
	&Tags {

		@include mixins.breakpoint-up(lg) {
			width: 100%;
		}
	}

	&Details {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
		font-size: var(--fs-sm);
		color: var(--gray-200);
		
		@include mixins.breakpoint-up(lg) {
			gap: .75rem;
		}
	}

	&Detail {
		display: flex;
		align-items: center;
		gap: .25rem;

		@include mixins.breakpoint-up(lg) {
			gap: .375rem;
		}
		
		&:not(:first-child) {

			@include mixins.breakpoint-up(lg) {
				border-left: .0625rem solid var(--gray-400);
				padding-left: .75rem;
			}
		}

		&Icon {
			--_size: 1.125rem;

			@include mixins.breakpoint-up(lg) {
				--_size: 1.25rem;
			}
		}
	}

	&Title {
		font-size: var(--fs-base);
		font-weight: 700;
		line-height: 1.5;
		
		@include mixins.breakpoint-up(lg) {
			font-size: var(--h4);
			line-height: 1.3;
		}
	}

	&Tags {
		display: flex;
		gap: .375rem;
		font-size: var(--fs-sm);
		font-weight: 700;
		order: -1;

		@include mixins.breakpoint-up(lg) {
			order: initial;
		}
	}

	&Tag {
		display: flex;
		align-items: center;
		gap: .25rem;
		background-color: var(--dark-500);
		border-radius: .25rem;
		padding: .125rem .375rem;

		&Icon {
			--_size: .875rem;	
		}

		&Live {
			background-color: var(--live);

			.itemTagIcon {
				--_size: .625rem;
			}
		}
	}

	&Bookies {
		display: flex;
		flex-direction: column;
	}

	&Bookie {
		display: grid;
		grid-template-columns: minmax(7.5rem, 1fr) minmax(5rem, 7.5rem) minmax(5rem, 7.5rem);
		gap: .75rem;

		@include mixins.breakpoint-up(lg) {
			gap: 1rem;
		}

		&:not(.itemBookieHeader) {
			font-size: var(--fs-sm);
			color: var(--gray-200);
			padding-block: .375rem;

			@include mixins.breakpoint-up(lg) {
				padding-block: .75rem;
			}

			&:not(:last-child) {
				border-bottom: .0625rem solid var(--gray-400);
			}

			&:last-child {
				padding-bottom: 0;
			}
		}

		&Header {
			font-size: var(--fs-sm);
			font-weight: 700;
			padding-bottom: .125rem;

			@include mixins.breakpoint-up(lg) {
				font-size: var(--fs-base);
				padding-bottom: 0;
			}
		}

		&Button,
		&Odds {
			gap: .125rem;
		}

		&Button {
			--_fs: inherit;
			--_fw: inherit;
			--_lh: inherit;
			--_color: inherit;

			flex-direction: row-reverse;
		}

		&Odds {
			display: flex;
			align-items: center;

			&Icon {
				--_size: 1.25rem;

				&Up {
					--_color: var(--success)
				}

				&Down {
					--_color: var(--error)
				}
			}
		}
	}

	&Profit {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: .75rem;

		@include mixins.breakpoint-up(lg) {
			flex-direction: column;
			align-items: start;
		}

		&Info {
			display: flex;
			align-items: center;
			gap: .125rem .375rem;
			
			@include mixins.breakpoint-up(lg) {
				flex-direction: column;
				align-items: initial;
			}
		}

		&Label {
			font-size: var(--fs-sm);
			color: var(--gray-300);

			@include mixins.breakpoint-up(lg) {
				font-size: var(--fs-base);
			}
		}

		&Value {
			font-size: var(--fs-base);
			font-weight: 700;
			line-height: 1.3;

			@include mixins.breakpoint-up(lg) {
				font-size: var(--h4);
			}
		}

		&Button {
			--_border-width: .125rem;
			--_rounded: .375rem;
			--_icon-size: 1.25rem;

			--_color: var(--_card-bg);
			--_color-hover: var(--_card-bg);
			--_color-active: var(--_card-bg);

			--_bg: #878888;
			--_bg-hover: var(--primary);
			--_bg-active: var(--primary);

			--_border-color: #878888;
			--_border-color-hover: var(--primary);
			--_border-color-active: var(--primary);

			justify-content: initial;
			text-align: start;

			@include mixins.breakpoint-up(lg) {
				--_icon-size: 1.75rem;
			}
		}
	}
}

.itemModal {

	&Content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.itemStatus {
			grid-template-columns: 1fr;
			align-items: start;
			gap: 1.5rem;

			&Closer {
				background-color: var(--_modal-bg);
				backdrop-filter: initial;
				inset: 0;
			}
		}

		.itemProfitInfo {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: baseline;
			gap: .5rem;
		}
	}

	&Header {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.itemMatch {
			flex-direction: column;
			gap: .5rem;
			align-self: initial;
			padding-right: 0;
		}

		.itemDetails {
			gap: .75rem;
		}

		.itemDetail {
			gap: .375rem;

			&:not(:first-child) {
				border-left: .0625rem solid var(--gray-400);
				padding-left: .75rem;
			}

			&Icon {
				--_size: 1.25rem;
			}
		}
	}

	&Calc {
		display: flex;
		gap: .5rem;

		&,
		&Input {
			flex: 1 1;
		}
	}

	&Bookies {
		--_bookies-gap: .75rem;

		display: flex;

		@include mixins.breakpoint-up(lg) {
			--_bookies-gap: 2.5rem;
		}
	}

	&Bookie {
		--_bookie-gap: .5rem;

		flex: 1 1;
		display: flex;
		flex-direction: column;
		gap: var(--_bookie-gap);

		@include mixins.breakpoint-up(lg) {
			--_bookie-gap: .75rem;
		}

		&:not(:last-child) {
			border-right: .0625rem solid var(--gray-400);
			padding-right: var(--_bookies-gap);
		}

		&:not(:first-child) {
			padding-left: var(--_bookies-gap);
		}

		&Header {
			display: flex;
			flex-direction: column;
			gap: .125rem;

			@include mixins.breakpoint-up(lg) {
				gap: .5rem;
			}
		}

		&Current,
		&Name {
			font-weight: 700;
			line-height: 1.3;
		}

		&Current {
			font-size: var(--h5);
			color: var(--gray-300);
			text-transform: uppercase;
		}

		&Name {
			font-size: var(--fs-sm);

			@include mixins.breakpoint-up(lg) {
				font-size: var(--h5);
			}
		}

		&Odds {
			height: 2.5rem;
			display: flex;
			align-items: center;
			font-size: var(--fs-sm);
			line-height: 1;
			background-color: var(--dark-500);
			border-radius: .5rem;
			padding: .75rem;
		}
	}

	&Details {
		font-size: var(--fs-sm);

		&Label {
			color: var(--gray-300);

			&:not(:first-child) {
				margin-top: var(--_bookie-gap);
			}
		}

		&Value {

			@include mixins.breakpoint-up(lg) {
				font-size: var(--fs-base);
			}
		}
	}

	&Footer {
		display: flex;
		flex-direction: column;
		gap: .5rem;

		@include mixins.breakpoint-up(lg) {
			gap: .75rem;
		}
	}

	&Checkbox {
		--_input-size: 1.125rem;
	}
}